.home {
  padding: 20px;
  min-height: 100%;
  width: 100%;
}

.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}
.logo {
  width: 180px;
}
.buyContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  justify-content: space-around;
  /* background-image: url(https://www.globalairrail.com/images/news/2015/KLIA-New-design3-web.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0)),
    url(https://www.globalairrail.com/images/news/2015/KLIA-New-design3-web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.formContainer {
  padding: 75px;
  background-color: white;
  box-shadow: 6px 8px 43px -15px rgba(0, 0, 0, 0.75);
}
.buyfrom {
  display: inline-block;
}
.buyto {
  display: inline-block;
  padding-left: 60px;
}
.searchbutton {
  margin-left: 13px;
  margin-top: 25px;
}
.lineContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.linepiccont {
  display: flex;
  flex: 1;
  align-items: center;
}
.linepic {
  width: 100%;
}
.lineText {
  margin-top: 50px;
  padding-left: 22px;
}

.signInToolbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  left: 0;
}
.signout_dialog h3,
.signout_dialog p {
  text-align: center;
}
.googleSignIn {
  justify-content: center;
  display: flex;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background: #dedede;
}
.signIn {
  color: white;
  text-align: right;
  margin-right: 8px;
  font-weight: 500;
  cursor: pointer;
  padding: 25px 15px;
}

.firebaseui_idp_button {
  font-weight: 500;
  height: auto;
  line-height: normal;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: white;
  border: none;
  border-radius: 2px;
}
.firebaseui_idp_icon_wrapper {
  display: table-cell;
  vertical-align: middle;
}

.firebaseui_idp_icon {
  border: none;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

.firebaseui_idp_text {
  display: table-cell;
  color: #757575;
}

.firebaseui_idp_text {
  display: table-cell;
  font-size: 14px;
  padding-left: 16px;
  text-transform: none;
  vertical-align: middle;
}

.cancel_btn {
  text-transform: capitalize;
  letter-spacing: 0.03929em;
  font-weight: 500;
}

.staffSignIn {
  max-width: 220px !important;
  width: 100%;
}

.errorMessage {
  margin-top: 24px;
  color: #ca0000;
}

@media screen and (max-width: 768px) {
  .formContainer {
    padding: 24px;
    width: calc(100% - 48px);
  }
  .buyContainer {
    flex-direction: column-reverse;
  }
  .buyfrom,
  .buyto {
	display: block;
	padding-left: 0;
  }
  .logo {
    width: 75px;
  }
}
