.menu_icon {
  fill: black;
  padding: 12px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 50%;
}

.navbar {
  background: #a90c77;
  bottom: 0px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 72px;
  z-index: 1;
  transform: translate(0, 0);
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar nav {
  left: 0px;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar nav .nav_item {
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  opacity: 0.6;
  border-right: 3px solid transparent;
  transition: border 400ms ease;
}

.navbar nav .nav_item:hover {
  border-right: 3px solid rgba(255, 255, 255, 0.6);
}

.navbar nav .nav_item.active {
  opacity: 1;
  border-right: 3px solid #fff;
}

.navbar nav .nav_item:focus {
  outline: none;
}

.navbar nav .nav_item svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.navbar nav .nav_item span {
  margin-top: 12px;
}

@media screen and (max-width: 768px) {
  .navbar {
    bottom: -2px;
    height: 60px;
    right: 0px;
    z-index: 2;
    width: auto;
    top: auto;
  }

  .navbar .hamburger {
    display: none;
  }

  .navbar nav {
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .navbar nav .nav_item {
    height: 60px;
    width: 100%;
  }

  .navbar nav .nav_item,
  .navbar nav .nav_item:hover,
  .navbar nav .nav_item.active {
    border-right: none;
  }

  .navbar nav .nav_item span {
    margin-top: 6px;
  }
}
.signInToolbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  left: 0;
}
.signout_dialog h3,
.signout_dialog p {
  text-align: center;
}
.googleSignIn {
  justify-content: center;
  display: flex;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background: #dedede;
}
.signIn {
  color: white;
  text-align: right;
  margin-right: 8px;
  font-weight: 500;
  cursor: pointer;
  padding: 25px 15px;
}

.firebaseui_idp_button {
  font-weight: 500;
  height: auto;
  line-height: normal;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: white;
  border: none;
  border-radius: 2px;
}
.firebaseui_idp_icon_wrapper {
  display: table-cell;
  vertical-align: middle;
}

.firebaseui_idp_icon {
  border: none;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

.firebaseui_idp_text {
  display: table-cell;
  color: #757575;
}

.firebaseui_idp_text {
  display: table-cell;
  font-size: 14px;
  padding-left: 16px;
  text-transform: none;
  vertical-align: middle;
}

.cancel_btn {
  text-transform: capitalize;
  letter-spacing: 0.03929em;
  font-weight: 500;
}

.staffSignIn {
  max-width: 220px !important;
  width: 100%;
}

.errorMessage {
  margin-top: 24px;
  color: #ca0000;
}
