html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

#app {
  min-height: 100%;
  padding-left: 72px;
}

.mdc-theme--dark {
  background-color: #333;
  color: #fff;
}

.mdc-theme--dark .mdc-card {
  color: #444;
}

#formHome .mdc-select {
  width: 100%;
}

.signout_dialog .mdc-dialog__surface {
  width: 50% !important;
  min-width: 0 !important;
  max-width: 420px !important;
  border-radius: 16px;
  padding: 24px 34px;
}
.signout_dialog .mdc-text-field {
  width: 100%;
}
.mdc-dialog__footer {
  justify-content: center !important;
}
@media screen and (max-width: 768px) {
  #app {
    padding-left: 0px;
    padding-bottom: 68px;
  }
}
