.Timecont{
    box-shadow: 6px 9px 13px -9px rgba(0,0,0,0.75);
    max-width: 860px;
}
.cont {
  display: flex;
  max-width: 860px;
  background: white;
  justify-content: space-between;
  padding: 28px;
  border-bottom: 1px solid lightgray;
}
.cont2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#icon {
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 10px;
}
.tixcont {
    padding: 55px;
}
.date {
    display: inline-block;
}
.quantity {
    display: inline-block;
    margin-left: 15px;
}
.confirmbutton {
    margin-left: 2px;
    margin-top: 22px;
}
.cont[ active ] {
    border-left: 5px solid red;
    background-color: #E7D4D2;
}
